/* Umumiy dizayn */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Yengil fon rangi */
    color: #333; /* Matn rangi */
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Sahifa sarlavhasi */
h1 {
    color: #4CAF50;
    margin-top: 20px;
    font-size: 36px;
}

/* Viloyatni tanlash bo'limi */
select {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

/* Vaqtlar bo'limi */
#vaqtlar {
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
}

/* Vaqtlarni ajratish */
#vaqtlar p {
    margin: 10px 0;
    color: #333;
}
